.container {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: 100px repeat(3, 100x) 150px;
  grid-gap: 15px 20px;
  text-align: center;
  background-color: pink;
  margin: 0 auto;
  width: 1000px;

}

#donuts{
    font-size: 65px;
}


 .donut-button{
     display: flex;
     justify-content: center;
 }


.donut-container {
  padding: 20px;
  display: center;
}
 
.perks {
  padding: 10px;
  margin: 8px;
}
